@model OrderViewModel
    <link href="~/css/OrderStyle.css" rel="stylesheet" />

<div class="form-container">
    <form asp-controller="Admin" asp-action="OrderCreatedMessage" asp-route-id="@Model" method="post" enctype="multipart/form-data" id="orderForm">
        <fieldset>
            <legend>Vedbeställning</legend>

            <div class="order-grid">
                <div class="order grid-info-1">
                    <label for="Name" id="customerName">Namn</label>
                    <input asp-for="Name" name="Name" class="form-control" id="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>


                    <label for="Address" id="customerAddress">Adress</label>
                    <input asp-for="Address" name="Address" class="form-control" id="Address" />
                    <span asp-validation-for="Address" class="text-danger"></span>


                    <label for="ZipCode" id="customerZipCode">Postnummer</label>
                    <input asp-for="ZipCode" name="ZipCode" class="form-control" id="ZipCode" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>

                <div class="order grid-info-2">
                    <label for="PhoneNumber" id="customerPhoneNumber">Telefonnummer</label>
                    <input asp-for="PhoneNumber" name="PhoneNumber" class="form-control" id="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>


                    <label for="Email" id="customeremail">E-postadress</label>
                    <input asp-for="Email" name="Email" class="form-control" id="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>

                    <label for="City" id="customerCity">Ort</label>
                    <input asp-for="City" name="City" class="form-control" id="City" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="order grid-products">
                    <label for="Product">Välj produkt</label>
                    <select asp-for="ProductId" id="Product">
                        <option value="1">Björkved (1m² 650SEK, säck)</option>
                        <option value="2">Björkved (10m² 5500SEK, container)</option>
                        <option value="4">Björkved (15m² 8250SEK, container)</option>
                    </select>
                    <label for="Quantity" id="customeremail">Antal</label>
                    <input asp-for="Quantity" name="Quantity" class="form-control" id="Quantity" type="text" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>


                <div class="order grid-payment">

                    <label for="Payment" id="customeremail">Betalningsmetod</label>
                    <select asp-for="Payment" name="Payment" id="Payment">
                        <option value="Swish">Swish</option>
                        <option value="Bank Giro">Bank Giro</option>
                        <option value="Betala vid leverans">Betala vid leverans</option>
                    </select>
                    <div class="checks">
                        @Html.RadioButtonFor(m => m.IsHomeDelivery, "true")
                        <label for="radiobutton1" id="lblradio1">Hemleverans</label>

                        @Html.RadioButtonFor(m => m.IsHomeDelivery, "false")
                        <label for="radiobutton2" id="lblradio2">Hämta själv</label>
                    </div>
                </div>
                <div class="order buttom">
                    <div class="message">
                        <label for="Message" id="customerMessage">Meddelande</label>
                        <textarea asp-for="Message" name="Message"></textarea>
                    </div>
                    <div class="order button">
                        <a href=@Url.Action("Index", "Home")>Gå tillbaka</a>
                        <button type="submit" class="btn-primary">Lägg till</button>
                    </div>

                </div>

            </div>
        </fieldset>
    </form>
</div>
