<link href="~/css/AdminSheet.css" rel="stylesheet" />
<div class="grid-container">
    <article class="admin-card">
        <h3>10</h3>      
        <button>Alla beställningar</button>
    </article>
    <article class="admin-card">
        <h3>2</h3>        
        <button>Obetalda beställningar</button>
    </article>
    <article class="admin-card">
        <h3>5</h3>
        <button>Pågående beställningar</button>
    </article>
    <article class="admin-card">
        <h3>3</h3>        
        <button>Färdiga beställningar</button>
    </article>
    <article class="admin-card">
        <h3>Lagersaldo</h3>
        <p>5st säckar björkved</p>
        <p>10st 10m² container</p>
        <p>20st 15m² container</p>
        <button>Gå till lagersaldon</button>
    </article>
</div>
@*<div class="clear"></div>
    Page @(Model.PageCoutn < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="divpagination">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>*@


