@model AdminViewModel 
<link href="~/css/AdminStyle.css" rel="stylesheet" />
<div class="flex-container">
    <div class="flex-box">
        <article class="admin-card">
            <h3>10</h3>
            <a href=@Url.Action("Orders", "Admin")>Alla beställningar</a>
        </article>
        <article class="admin-card">
            <h3>2</h3>
            <a href=@Url.Action("Orders", "Admin", new { status = "Obetald"})>Obetalda beställningar</a>
        </article>
        <article class="admin-card">
            <h3>5</h3>
            <a href=@Url.Action("Orders", "Admin", new { status = "Pågående"})>Pågående beställningar</a>
        </article>
    </div>
    <div class="flex-box">
        <article class="admin-card">
            <h3>3</h3>
            <a href=@Url.Action("Orders", "Admin", new { status = "Klar"})>Klara beställningar</a>
        </article>
        <article class="admin-card">
            <h3>3</h3>
            <a href=@Url.Action("Orders", "Admin", new { status = "Hemleverans"})>Hemleveranser</a>
        </article>
        <article class="admin-card">
            <h3>Lagersaldo</h3>
            <a href=#>Gå till lagersaldon</a>
        </article>

    </div>
</div>
@*<div class="clear"></div>
    Page @(Model.PageCoutn < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="divpagination">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>*@


