@model AdminViewModel
<link href="~/css/AdminSheet.css" rel="stylesheet" />
<div class="flex-container">
    <div class="flex-box">
        <article class="admin-card">
            <div class="admin-text">
                <h3>Alla beställningar</h3>
                <h2>10st</h2>
            </div>
            <div class="admin-button"><a href=@Url.Action("Orders", "Admin")>Se alla beställningar</a></div>
        </article>
        <article class="admin-card">
            <div class="admin-text">
                <h3>Obetalda beställningar</h3>
                <h2>5st</h2>
            </div>
            <div class="admin-button"><a href=@Url.Action("Orders", "Admin", new { status = "Obetald"})>Obetalda beställningar</a></div>
            
        </article>
        <article class="admin-card">

            <div class="admin-text">
                <h3>Pågående beställningar</h3>
                <h2>2st</h2>
            </div>
            <div class="admin-button"><a href=@Url.Action("Orders", "Admin", new { status = "Pågående"})>Pågående beställningar</a></div>
            
        </article>
    </div>
    <div class="flex-box">

        <article class="admin-card">
            <div class="admin-text">
                <h3>Hemleveranser</h3>
                <h2>2st</h2>
            </div>
            <div class="admin-button"><a href=@Url.Action("Orders", "Admin", new { status = "Hemleverans"})>Hemleveranser</a></div>

        </article>
        <article class="admin-card">
            <div class="admin-text">
                <h3>Lagersaldo</h3>
                <h2></h2>
            </div>
            <div class="admin-button">
                <a href=#>Gå till lagersaldon</a>
            </div>
        </article>
        <article class="admin-card">
            <div class="admin-text">
                <h3>Lägg till beställning</h3>
                <h2></h2>
            </div>
            <div class="admin-button"><a href=@Url.Action("CreateOrder", "Admin")>+ Skapa beställning</a></div>
        </article>

    </div>
</div>



