<!DOCTYPE html>
<!-----<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AngensGard</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="div-container">
        <div class="div-header">
            Ängens Gård
        </div><!--div-header-->
        <div class="clear"></div>
        <div class="div-topmenu">

            @{ if (User.IsInRole("Admin"))
                {
                    <ul>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="Index">Hem</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="Orders">Ordrar</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="Index">Lagersaldon</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Account" asp-action="Logout">Logga ut</a>
                        </li>

                    </ul>
                }

                else
                {
                    <ul>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Hem</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Order" asp-action="Index">Beställ ved</a>
                        </li>
                    </ul>
                }

            }

        </div><!-----div-topmenu-->
        <div class="clear"></div>

        <!-- (User.IsInRole("Admin"))
            {

                <div class="div-left">
                    <div class="admin-menu">Administratörsmeny</div>--><!------Category-title---->
                    <!--<div class="admin-menu-list">
                        <ul>
                            <li><a href="#">Orderöversikt</a></li>
                            <li><a href="#">Lager</a></li>
                            <li><a href="#">Test</a></li>
                        </ul>
                    </div>--><!----Category-List----->
                <!--</div>--><!--div-left-->
            <!--}
        }-->

        <div class="div-main">
            <div class="main-content">
                @RenderBody()
            </div><!---Main-content-->
        </div><!---div main-->
        <div class="clear"></div>
        <div class="div-footer">
            <p>Ängens gård</p>
            <p>Epost: <a href="mailto:angenbararp@gmail.com">Angensgard</a></p>
            <p>Instagram: <a href="https://www.instagram.com/bararpsloge/">Bararpsloge</a></p>
        </div>

    </div>


    @*<div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@


    <div class="clear"></div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - AngensGard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>--->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
