<!DOCTYPE html>
<!-----<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AngensGard</title>

    <link href="~/css/LayoutStyle.css" rel="stylesheet" />

</head>
<body>
    <div class="div-container">
        <div class="div-header">
            <img src="Images/logo.png" />
            <div class="div-topmenu">

                @{ if (User.IsInRole("Admin"))
                    {
                        <ul>
                            <li>
                                <a asp-area="" asp-controller="Admin" asp-action="Index">Hem</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Admin" asp-action="Orders">Ordrar</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Admin" asp-action="Index">Lagersaldon</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Account" asp-action="Logout">Logga ut</a>
                            </li>

                        </ul>
                    }

                    else
                    {
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Om Ängens Gård</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Info">Vedförsäljning</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Order" asp-action="Index">Beställ ved</a>
                </li>

            </ul>
                    }

                }

            </div><!-----div-topmenu-->
        </div><!--div-header-->
        <div class="clear"></div>
        
        <div class="clear"></div>

        

        <div class="div-main">
            <div class="main-content">
                @RenderBody()
            </div><!---Main-content-->
        </div><!---div main-->
        <div class="clear"></div>
        

    </div>


    @*<div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@


    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>--->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<footer>
    <div class="div-footer-container">
        <div class="footer-item">
            <h2>Gårdsbutikens öppettider</h2>
            <p>Torsdagar 17-19 eller enligt överenskommelse</p>

        </div>
        <div class="footer-item">
            <h2>Hitta hit</h2>
            <p>Ängen Bårarp 28, 556 28  Jönköping</p>
            
        </div>
        <div class="footer-item">
            <h2>Hör av dig</h2>
            <p>angenbararp@gmail.com</p>
            <p>076-696 26 95</p>
        </div>
    </div>
    
</footer>
</html>
