
<link href="~/css/ContactStyle.css" rel="stylesheet" />
<div class="div-top-image">

</div>
<div class="div-info">

    <h1>Hör av dig till oss</h1>
    <h3>
        Har du frågor eller vill du veta mer om oss och vår verksamhet?<br />
        Tveka då inte på att höra av dig via mejl eller telefon.
    </h3>
    
</div>
<div class="contact-container">
    <div class="contact-item">

        <h2>
            Har du frågor om vedbeställningar?
        </h2>


        <p>angenbararp@gmail.com</p>
        <p>073-696 26 95</p>
    </div>
    <div class="contact-item">
        <h2>
            Har du frågor om gårdsbutiken?
        </h2>
        <p>philip.bararpsloge@gmail.com</p>
        <p>070-464 31 00</p>
    </div>
</div>
