
<link href="~/css/HomeStyle.css" rel="stylesheet" />
<div class="home-container">
    <div class="home-header">
        <h1>Välkommen till Ängens Gård</h1>
    </div>

    <div class="home-content">
        <p>
            På Ängens Gård erbjuder
            vi ved av högsta kvalitet samt närproducerat lammkött och lammskinn. Därtill är vår vackra loge
            bokningsbar för såväl bröllop som event!

        </p>
    </div>
</div>
<div class="content-container">
    
        <h1>
            Om Ängens Gård
        </h1>
    
    
        <h3>Mitt ute på landet, fem minuter från stan. Ängens Gård ligger i en unikt vacker miljö med kuperade ängar, där hästar och får betar i hagarna.</h3>
        <p>
            Ängens Gård ligger i den småländska idyllen Bårarp, strax söder om Jönköping.

            I vår gårdsbutik kan du handla ved av högsta kvalitet, som vi klyver själva. Vi erbjuder dessutom hemkörning.

            Är du ute efter lammkött har du kommit helt rätt. Vårt lokalproducerade kött levereras finstyckat, vakuumförpackat och uppmärkt. I den populära lammlådan ingår lägg, stek, rostbiff, kotletter, racks, entrecôte, bogstek och färs.

            Våra lammskinn är den perfekta gåvan. De kommer från våra egna långhåriga lamm och är härligt silkiga och glansiga. Storlek och karaktär skiljer sig på varje skinn så att du kan hitta din favorit.

            Vi som bor på och driver Ängens Gård heter Jonas och Marita Fredriksson med söner. Sedan 2017 har vi arrangerat ett 50-tal bröllopsfester och företagsevenemang på vår mysiga loge.
        </p>
    
</div>
<div class="contact-container">
    <div class="contact-item">

        <h2>
            Har du frågor om vedbeställningar?
        </h2>


        <p>angenbararp@gmail.com</p>
        <p>073-696 26 95</p>
    </div>
    <div class="contact-item">
        <h2>
            Har du frågor om gårdsbutiken?
        </h2>
        <p>philip.bararpsloge@gmail.com</p>
        <p>070-464 31 00</p>
    </div>
</div>



