<link href="~/css/UserStyle.css" rel="stylesheet" />

<div class="div-top-image">

</div>
<div class="div-info">
    <article>
        <h1>Vedförsäljning</h1>
        <h3>På Ängens Gård kapar och klyver vi björkved av god kvalitét.</h3>


        <p>Alla förtjänar att elda med riktigt bra ved. Vi säljer björkved som passar perfekt till braskaminen och den öppna spisen. Dessutom erbjuds frakt från augusti till mars. Önskas andra längder på färsk ved så ordnar vi självklart det!</p>
        <p><strong>Färsk björkved 30-32cm (april-juni) Hämtas Måndag-torsdag mellan 10.00-19.00 eller enligt överenskommelse.</strong></p>

        <p style="font-size: 22px;">10 kbm 5500:- (inkl. frakt inom 20 km)</p>
        <p style="font-size: 22px;">15 kbm 8250:- (inkl. frakt inom 20 km)</p>
        <p style="font-size: 22px;">1 kbm 650 :-/säck (hämtpris)</p>
        <p><strong>Torr björkved 30-32 cm (augusti-mars):</strong></p>
        <p style="font-size: 22px;">1 kbm 700:-/säck (hämtpris)</p>
    </article>
</div>
<div class="div-buttons">
    <a href="#">Kontakta oss här</a>
    <a href="#">Beställ ved</a>
</div>