@model OrderViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <form asp-controller="Order" asp-action="Overview" asp-route-id="@Model" method="post" enctype="multipart/form-data" id="orderForm">
        <br />
        <label for="name" id="customerName">Namn</label>
        <input asp-for="Name" name="Name" class="form-control" id="addName" onfocus="this.value=''" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <br />

        <label for="address" id="customerAddress">Adress</label>
        <input asp-for="Address" name="Address" class="form-control" id="addAddress" onfocus="this.value=''" />
        <span asp-validation-for="Address" class="text-danger"></span>
        <br />

        <label for="zipcode" id="customerZipCode">Postnummer</label>
        <input asp-for="ZipCode" name="ZipCode" class="form-control" id="addZipCode" onfocus="this.value=''" />
        <span asp-validation-for="ZipCode" class="text-danger"></span>
        <br />

        <label for="city" id="customerCity">Ort</label>
        <input asp-for="City" name="City" class="form-control" id="addCity" onfocus="this.value=''" />
        <span asp-validation-for="City" class="text-danger"></span>
        <br />

        <label for="phonenumber" id="customerPhoneNumber">Telefonnummer</label>
        <input asp-for="PhoneNumber" name="PhoneNumber" class="form-control" id="addPhoneNumber" onfocus="this.value=''" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        <br />

        <label for="email" id="customeremail">E-postadress</label>
        <input asp-for="Email" name="Email" class="form-control" id="addEmail" onfocus="this.value=''" />
        <span asp-validation-for="Email" class="text-danger"></span>
        <br />

        <label for="product">Välj produkt</label><br />
        <select asp-for="ProductId">
            <option value="1">Björkved (1m² 650SEK, säck)</option>
            <option value="2">Björkved (10m² 5500SEK, container)</option>
            <option value="4">Björkved (15m² 8250SEK, container)</option>
        </select>
        <br />
        <br />
        <label for="quantity" id="customeremail">Antal</label>
        <input asp-for="Quantity" name="Quantity" class="form-control" id="addQuantity" onfocus="this.value=''" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
        <br />

        <label for="payment" id="customeremail">Betalningsmetod</label><br />
        <select asp-for="Payment" name="Payment">
            <option value="Swish">Swish</option>
            <option value="Bank Giro">Bank Giro</option>
        </select>
        <br />


        <label for="radiobutton1" id="lblradio1">Hemleverans</label>
        @Html.RadioButtonFor(m => m.IsHomeDelivery, "true")

        <label for="radiobutton2" id="lblradio2">Hämta själv</label>
        @Html.RadioButtonFor(m => m.IsHomeDelivery, "false")

        <br />
        <button type="submit" class="btn-primary">Gå vidare</button>


    </form>
</div>