body {
    background-color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Cambria;
}

ul {
    list-style: none;
}

.clear {
    clear: both;
}

.div-container {
    display: flex;
    flex-direction: column;
}

    .div-container .div-header {
        background-color: #8b9788;
        color: #ffffff;
        padding: 20px;
        align-items: center;
        display: flex;
        justify-content: space-around;
        height: 65px;
        
    }

        .div-container .div-header img {
            height: 75px;
            width: 150px;
            margin-right: 60px;
        }




    .div-container .div-topmenu {
        padding: 20px;
    }

        .div-container .div-topmenu ul {
            margin: 0;
        }

            .div-container .div-topmenu ul li {
                float: left;
                padding: 25px;
                margin-top: -7px;
            }

                .div-container .div-topmenu ul li a {
                    text-decoration: none;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-size: 18px;
                }

                    .div-container .div-topmenu ul li a:hover {
                        cursor: pointer;
                    }

    .div-container -div-main {
        float: left;
        width: 84%;
    }

        .div-container -div-main .div-main-content {
            float: left;
        }


.div-footer-container {
    gap: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    color: black;
    padding: 5px 10px 5px 20px;
    line-height: 10px;
    height: 350px;
}

.footer-item {
    text-align: center;
    padding: 30px;
    height: 40%;
}

.footer-item h2{
    font-size: 30px;
    padding-bottom: 20px;
}

.footer-item p {
    font-size: 20px;
}


.div-footer a {
    color: black;
    text-decoration: none;
}

    .div-footer a:hover {
        text-decoration: underline;
    }



.div-container .div-main .div-pagination li {
    display: inline;
    padding: 3px;
}

.div-container .div-main .div-pagination .pagination-container .pagination {
    padding-left: 0;
}

.main-content form {
    float: left;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    margin-top: auto;
    width: 100%;
}

.admin-dashboard p {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
