body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f2f2f2;
    margin: 0;
}

ul {
    list-style: none;
}

.clear {
    clear: both;
}

.div-container {
    background-color: #f2f2f2
}

    .div-container .div-header {
        background-color: #8b9788;
        color: #ffffff;
        padding: 20px;
        height: 60px;
        opacity: 85%;
    }

    .div-container .div-topmenu {
        background-color: #ffffff;
        padding: 20px;
    }

        .div-container .div-topmenu ul {
            margin: 0;
        }

            .div-container .div-topmenu ul li {
                float: left;
                padding: 0 10px 0 10px;
                margin-top: -7px;
            }

                .div-container .div-topmenu ul li a {
                    text-decoration: none;
                    color: black;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                    .div-container .div-topmenu ul li a:hover {
                        background-color: black;
                        color: #ffffff
                    }

    .div-container -div-main {
        float: left;
        width: 84%;
        
    }

        .div-container -div-main .div-main-content {
            float: left;
        }

    .div-container .div-footer {
        background-color: #333;
        color: #ffffff;
        padding: 5px 10px 5px 20px;
        line-height: 10px;
    }

        .div-container .div-footer a {
            color: #ffffff;
            text-decoration: none;
        }

            .div-container .div-footer a:hover {
                text-decoration: underline;
            }

  

    .div-container .div-main .div-pagination li {
        display: inline;
        padding: 3px;
    }

    .div-container .div-main .div-pagination .pagination-container .pagination {
        padding-left: 0;
    }

.main-content form {
    float: left;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}
  
  